mat-form-field {
  padding: 5px;
}
.float-right {
  float: right;
}
mat-card {
  padding: 20px 30px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}
table th,
table td {
  padding: 16px;
  text-align: left;
  font-size: 14px;
}
.mat-elevation-z8 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.action-link {
  display: flex;
  justify-content: center;
}
/* Align button to the right inside the header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Add some spacing and hover effects */
.add-category-btn {
  background-color: #FF7D29;
  color: white;
  margin: 0;
}
.responsive_table {
  width: 96%;
  text-align: center;
  padding: 20px 30px;
  border-radius: 8px;
  margin: center auto;
}

.add-order-btn {
  margin-left: auto;
}
