$red: #ff7d29; 
$dark-red: darken($red, 10%);
$light-red: lighten($red, 50%);
$white: #ffffff;

.mat-toolbar {
  width: 100%; // Full width toolbar
  margin-bottom: 10px;
  background-color:#ff7d29;
  color: $white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Add subtle shadow for depth
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
  background-color: #ff7d29;
  color: $white;
  font-size: 1.4rem; // Increase font size for better readability
  font-weight: 600; // Make the text bold but not too heavy
  padding: 15px; // Unified padding for better alignment
  border-radius: 8px; // Slightly more rounded corners
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); // Add shadow to make it stand out
}

mat-form-field {
  margin-top: 15px; // Add some spacing above the input fields
  padding: 5px;
  background-color: $light-red;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); // Subtle shadow
  label {
    color: $red;
    font-weight: bold;
  }
  input {
    color: $dark-red;
  }
}

.button {
  background-color: #ff7d29;;
  color: $white;
  padding: 12px 24px;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  // border-radius: 8px;
  transition: background-color 0.3s ease; // Smooth hover transition
  &:hover {
    background-color: $dark-red;
  }
  &:disabled {
    background-color: lighten($red, 20%);
    color: rgba(255, 255, 255, 0.7);
    cursor: not-allowed;
  }
}

.mat-dialog-content {
  padding: 20px; // Add padding for content
  overflow: hidden;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); // Soft white background for better contrast
  border-radius: 8px; // Rounded corners
}

.mat-dialog-actions {
  justify-content: center;
  padding: 20px;
  gap: 15px; // Add some space between buttons
}
